In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [3]:
import os
import pandas as pd
from termcolor import colored
import numpy as np
import matplotlib.pyplot as plt
from natsort import natsorted
import sys
from utils import boxplots_utils

In [4]:
#Display pandas df without truncation

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

In [5]:
experiment = "random_mixed"

In [6]:
results_folder = os.path.join(os.getcwd(), "results_adaptive/"+experiment)
if not os.path.isdir(results_folder):
    print(colored("Error, results_folder does not exist", 'red'))
else:
    print(colored("OK, "+results_folder+" exists", 'green'))

OK, /home/luigi/Documents/ARGoS/argos_results_scripts/DHTF/results_adaptive/random_mixed exists

In [7]:
for timeout_folder in natsorted(os.listdir(os.path.join(results_folder))):
    print(colored("Timeout folder:", 'blue'),timeout_folder)
    parameters = timeout_folder.split("_")
    
    for param in parameters:
        if param.startswith("timeout"):
            timeout = int(param.split("#")[-1]) * 10
            # print("\ttimeoutR:",timeoutR)

    if timeout == -1 :
        print(colored("\tWARNING: wrong timeout folder", 'green'))
        continue
        
    for filename in natsorted(os.listdir(os.path.join(results_folder, timeout_folder))):
#         print('\tfilename: ', filename)
        if filename.endswith("areaLOG_client.tsv"):
            if not os.path.getsize(os.path.join(results_folder, timeout_folder, filename)) > 0:
                print(colored("\tWARNING, empty file at:" + filename, 'red'))
                continue
            print('\tfilename: ', filename)
            df_area_client = pd.read_csv(os.path.join(results_folder, timeout_folder, filename), sep="\t", header=None)
        
        if filename.endswith("areaLOG_server.tsv"):
            if not os.path.getsize(os.path.join(results_folder, timeout_folder, filename)) > 0:
                print(colored("\tWARNING, empty file at:" + filename, 'red'))
                continue
            print('\tfilename: ', filename)
            df_area_server = pd.read_csv(os.path.join(results_folder, timeout_folder, filename), sep="\t", header=None)
            
        if filename.endswith("kiloLOG_client.tsv"):
            if not os.path.getsize(os.path.join(results_folder, timeout_folder, filename)) > 0:
                print(colored("\tWARNING, empty file at:" + filename, 'red'))
                continue
            print('\tfilename: ', filename)
            df_kilo_client = pd.read_csv(os.path.join(results_folder, timeout_folder, filename), sep="\t", header=None)
        
        if filename.endswith("kiloLOG_server.tsv"):
            if not os.path.getsize(os.path.join(results_folder, timeout_folder, filename)) > 0:
                print(colored("\tWARNING, empty file at:" + filename, 'red'))
                continue
            print('\tfilename: ', filename)
            df_kilo_server = pd.read_csv(os.path.join(results_folder, timeout_folder, filename), sep="\t", header=None)
            
            break
    break

Timeout folder: random_mixed_2021-05-05_robots#24_timeout#1_redAreas#4_1800seconds
	filename:  seed#1_areaLOG_client.tsv
	filename:  seed#1_areaLOG_server.tsv
	filename:  seed#1_kiloLOG_client.tsv
	filename:  seed#1_kiloLOG_server.tsv

In [7]:
# print(len(df_kilo_client.columns))
# print(len(df_kilo_server.columns))
# print(len(df_area_client.columns))
# print(len(df_area_server.columns))

In [8]:
if len(df_kilo_client.columns) > 145:
    print("Cutting null elements in client kilo df")
    df_kilo_client.drop(df_kilo_client.columns[len(df_kilo_client.columns)-1], axis=1, inplace=True)
    
if len(df_kilo_server.columns) > 145:
    print("Cutting null elements in server kilo df")
    df_kilo_server.drop(df_kilo_server.columns[len(df_kilo_server.columns)-1], axis=1, inplace=True)

Cutting null elements in client kilo df
Cutting null elements in server kilo df

In [9]:
# df_kilo_server

In [10]:
# df_kilo_client

In [11]:
col_kilo_labels = ['time']
for i in range (0, len(df_kilo_server.columns)-1, 6):
#     print(i,end=", ")
    col_kilo_labels += ['id'+str(i//6), 'state'+str(i//6), 'posx'+str(i//6), 'posy'+str(i//6), 'ori'+str(i//6), 'same_state'+str(i//6)]
    
col_kilo_to_drop = []
for i in range((len(df_kilo_server.columns)-1)//6):
#     print(i,end=", ")
    col_kilo_to_drop += ['same_state'+str(i)]

In [12]:
df_kilo_server.columns = col_kilo_labels
df_kilo_client.columns = col_kilo_labels
df_kilo_server = df_kilo_server.drop(col_kilo_to_drop, axis=1)
df_kilo_client = df_kilo_client.drop(col_kilo_to_drop, axis=1)

In [14]:
kID0_client = df_kilo_client.iloc[:10,:6]

In [15]:
kID0_client

   time  id0  state0   posx0   posy0    ori0
0   0.1    0       0 -0.2607  0.3622  0.4071
1   2.0    0       0 -0.2448  0.3572 -1.0773
2   4.0    0       0 -0.2429  0.3376 -1.5564
3   6.0    0       0 -0.2426  0.3177 -1.6271
4   8.0    0       0 -0.2552  0.3053  3.0853
5  10.0    0       0 -0.2739  0.3118  2.7633
6  12.0    0       0 -0.2925  0.3192  2.7633
7  14.0    0       0 -0.3111  0.3266  2.7633
8  16.0    0       0 -0.3303  0.3318  2.9203
9  18.0    0       0 -0.3498  0.3362  2.9203

In [17]:
col_area_labels = ['time']
for i in range(0, len(df_area_server.columns) - 2, 6):
    # print(i, end=", ")
    col_area_labels += ['id' + str(i // 6), 'posx' + str(i // 6), 'posy' + str(i // 6), 'color' + str(i // 6),
                        'completed' + str(i // 6), 'contained' + str(i // 6)]

In [18]:
# Remove last empty col and assign labels to df_area_server
if len(df_area_server.columns) > 49:
    print("Cutting null elements in area server df")
    df_area_server.drop(df_area_server.columns[len(df_area_server.columns) - 1], axis=1, inplace=True)
df_area_server.columns = col_area_labels

# First df_area_client row contains garbage, so is substituted with the second row except for the time,
# then remove Nan values in [:,49:]
if len(df_area_client.columns) > 49:
    print("Cutting null elements in area client df")
    df_area_client.loc[0, 1:] = df_area_client.loc[1, 1:]
    df_area_client = df_area_client.drop(np.arange(49, len(df_area_client.columns)), axis=1)
df_area_client.columns = col_area_labels

Cutting null elements in area server df
Cutting null elements in area client df

In [22]:
area0_client = df_area_client.iloc[:10,:7]

In [23]:
area0_client

   time  id0  posx0  posy0  color0  completed0  contained0
0   0.1  1.0 -0.125  0.375     1.0         0.0         0.0
1   2.0  1.0 -0.125  0.375     1.0         0.0         0.0
2   4.0  1.0 -0.125  0.375     1.0         0.0         0.0
3   6.0  1.0 -0.125  0.375     1.0         0.0         0.0
4   8.0  1.0 -0.125  0.375     1.0         0.0         0.0
5  10.0  1.0 -0.125  0.375     1.0         0.0         0.0
6  12.0  1.0 -0.125  0.375     1.0         0.0         0.0
7  14.0  1.0 -0.125  0.375     1.0         0.0         0.0
8  16.0  1.0 -0.125  0.375     1.0         0.0         0.0
9  18.0  1.0 -0.125  0.375     1.0         0.0         0.0